$font-stack:    Helvetica, sans-serif;
$black: #121212;
$grey: #e0e0e0;
$primary: #ba68c8;

body {
  font: 100% $font-stack;
  color: $black;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  color: $primary;
  padding: 12px;
}

.container {
  padding: 8px;
  text-align: center;
}
